.friendList_item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 15px;
}

  
.friendList_avatar {
  margin-right: 15px;
}

.friendList_name {
  font-weight: 700;
  font-size: 18px;
}
  
.friendList_green {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #4CAF50;
}
  
.friendList_red {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f44336;
}


/**/
.friend_list {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px
}

.friend_item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.friend_avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right: 15px;
}

.friend_name {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.friend_status {
  font-size: 14px;
  font-weight: 700;
  margin-left: auto;
  color: #888;
}

.friend_status_icon {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #fff;
}
